

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
    list-style: none;
    text-decoration: none;
    background-position: center;
    background-repeat: no-repeat, no-repeat;
    background-size: cover;
    
}
html{
    scroll-behavior: smooth;
  }

  .homepage  {
    font-size: 40px;
    padding: 50px;
    color: #f0e3e3;
    background: linear-gradient(to right, rgb(255, 166, 46), rgb(247, 27, 61));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
  float: right;
  

  }

.homepage:hover{
  background:rgb(255, 255, 255);
  -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

  .multi-bg-example{
    width: 100%;
    height: 100vh;
    background-image: url(hd-wallpaper.jpg);
    position: relative;
  }          
  .multi-bg{
    width:65%;
    height: 75vh;
    background-image: url(Bike.png); 
    position: absolute;
   right:0;
    bottom: 0;
  }   
.Message{
   float: left;
}
.Message p{
    color:rgb(248, 241, 241);
    font-size: 50px;
    font-style: italic;
    margin-left: 5%;
    margin-top: 7%;
    margin-right: 50%;

}